
:root{
  --textStyle: 'Roboto';
  --titleStyle: 'Chivo';
  --fontSize: 11pt;

  --contentEmp: #434e52;
  --contentFG: #3F3F3F;
  --contentLightFG: #7b7b7b;

  --homeBG:#E8CEC4;

	--accentLightBG: #E8CEC4;

  --borderColor:#DED2DE;

	--inputBorder:#bababa;

  --pBkText: #5B198F;
  --pBkTextLight: #E8DFFF;
  --pBkDemo: #3A4D7C;
  --pBkDemoLight: #DFE9FF;
  --pBkExpression: #318808;
  --pBkExpressionLight: #E6FFC6;
  --pBkWarning: #970000;
  --pBkWarningLight: #FFD7D7;
  --pBkComplement: #876E0E;
  --pBkComplementLight: #FFF9C6;
}